/* Hide toolbar */

.hide-toolbar-editor {
}

.hide-toolbar-wrapper {
}

.rdw-editor-toolbar.hide-toolbar {
  display: none;
}

.rdw-editor-wrapper:focus-within .hide-toolbar {
  display: flex;
  border: 1px solid #f1f1f1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
}

.rdw-editor-wrapper:focus-within .hide-toolbar-editor {
  border: 1px solid #f1f1f1 !important;
  padding: 10px !important;
  border-radius: 2px !important;
}

.rdw-editor-wrapper:hover:not(:focus-within) {
  background-color: #edf2f6;
  border-radius: 10px !important;
}

/* Show toolbar */
.show-toolbar-editor {
  border: 1px solid #f1f1f1 !important;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100px;
}

.show-toolbar-wrapper {
}
